<div class="panel card box-shadow">
  <div class="wrapper" [ngStyle]="{'background': getUrl(charity.images[0])}">
    <div class="header header-bg">
      <div class="date">
        updated at: {{charity.updatedAt |date}}
      </div>
      <ul class="menu-content">
        <li><a class="btn" (click)="toggleFavorite()">
               <i *ngIf="isFavorite"  class="fas fa-heart"></i>
               <i *ngIf="!isFavorite" class="far fa-heart"></i>
          </a> </li>
        <li><a class="fas fa-hand-holding-usd" (click)="openVerticallyCentered()"></a> </li>
        <li><a [routerLink]="['/charitydetail', charity._id]" fragment="comments" class="btn far fa-comment"><span>{{charity.comments.length}}</span></a></li>
        <p *ngIf="alertMsg">
          <ngb-alert type='danger' (close)="alertMsg = undefined">{{ alertMsg }}</ngb-alert>
        </p>
      </ul>
    </div>
    <div class="data">
      <div class="content">
        <span class="location">{{charity.city}}, {{charity.country}}</span>
        <h1 class="title"><a [routerLink]="['/charitydetail', charity._id]">{{charity.name}}</a></h1>
        <p class="text">{{charity.info}}</p>
        <!-- <div class="row text"> -->
        <div class="col-4 col-md-3 col-lg-2" *ngFor="let category of charity?.categories">
          <span class="badge badge-pill badge-warning"><a class="link" [routerLink]="['/search', { query: category.name, page: 1 }]">{{category.name}}</a></span>
        </div>
        <!-- </div> -->
        <a [routerLink]="['/charitydetail', charity._id]" class="button">Read more</a>
      </div>
    </div>
  </div>
</div>
