<div class="bg">
</div>
<div class="container">

  <h1>About us</h1>
  <hr />
  <h2>Overview</h2>
  <p>
    In 2014, there was the #IceBucketChallenge which went viral thanks to the innovative campaign and use of Social Media. This saw an increase in the interest towards the disease as well as a surge of donations through word of mouth. However, what about
    Charities/NGOs/Non-Profit Organisations that are too small or don't have enough money to start a campaign such as this. There are certainly many who share such a problem - especially in developing countries, where lack of infrastructure makes it harder
    to get the word out on any schemes that they are running. The aim of this project is to allow charities around the world list themselves in an online portal such that anyone looking to donate to a particular cause is able to see the available charities
    and be able to donate to them directly. One way to do this is build a portal where Charities register themselves and people who want to donate search for charities - either by name or by the cause. The portal need not only be restricted to monetary
    contributions, but could also ask for volunteer help, donations in kind, etc. The target user is ..... users who wish to search for charities and donate (either by giving money, or time, or volunteering), and charities which wish to list their profiles
    on this web-site.
  </p>
  <hr />
  <h2>Mission, Vision and Goals</h2>
  <p>

    The system should allow the user to achieve .....
    <br/> 1. The user should be able to search for charities (either by name or keyword, or location). It is not necessary for users to have a profile on the system.<br/> 2. The user should be able to donate to the charity. The problem of remittance itself
    is being solved by providers such as Transfer Wise and World Remit and this may be an option of linking payments or through Pay-pal or other means (students can be creative here). It's possible that maybe instead of contributing directly to a particular
    charity a user may contribute to a 'common cause' and all charities registered under it will receive a portion of the donations.
    <br/> 3. Charities should be able to register themselves on the web-site. One problem here is to ensure the charity is genuine - there is a database provided by the 'Charity Commission' in the UK which has information about UK charities. (http://data.charitycommission.gov.uk/)
    <br /> 4. Users should be able to rank charities so that other users can see that the charity does good work and also possibly be able to track what happened to the donations.
    <br /> 5. The user should be able to advertise the fact that they have donated through this portal - such as through Social Media/email.
    <br />

  </p>
  <hr />
  <h3>Project staffs</h3>
  <div class="row">
    <div class="col-sm-2">
      <img class="img-circle" src="../../assets/img/anandha.png" />
    </div>
    <div class="col-sm-10">
        <div class="col">
          <b>Anandha Gopalan, Supervisor</b>
        </div>
        <div class="col d-none d-md-block">
                  Teaching Fellow Department of Computing Imperial College London Office: 228, Huxley Phone: +44 207 5943078 email
        </div>
    </div>
  </div>
  <br />
  <!--  TODO:https://bootsnipp.com/snippets/featured/team-design-card-flipper-using-bootstrap-4-->
  <div class="row">
    <div class="col-sm-2">
      <img class="img-circle" src="../../assets/img/dongxiao.jpg" />
    </div>
    <div class="col-sm-10">
        <div class="col">
          <b>Dongxiao Huang, developer</b>
        </div>
        <div class="col d-none d-md-block">
             MSc. Computing Student of Imperial College London
        </div>
    </div>
  </div>
</div>
