<div class="bg">
</div>
<div class="container p-5">
     <app-loading *ngIf="!volunteerActivies"></app-loading>
  <!-- <app-message></app-message> -->
  <div class="form-inline" *ngIf="volunteerActivies">
       <div class="input-group-append">
            <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [minDate]="today" [(ngModel)]="date">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                 <i class="far fa-calendar-alt"></i>
            </button>
       </div>
       <button (click)=chooseDate() class="btn btn-info" [disabled]="!date">search</button>
       <button (click)=allVolunteer() class="btn btn-success">All Dates Available</button>
 </div>
  <div class="alert alert-warning alert-dismissable" *ngIf="volunteerActivies && !volunteerActivies.length">
    <h3>charity volunteer Activities is Empty</h3>
  </div>
  <div *ngIf="volunteerActivies && volunteerActivies.length" class="row">
    <div class="col">
      <!-- <h4 class="display-4">Volunteer Activies</h4>  -->
      {{ lower }}-{{ upper }} of {{totalNumber}} for <span *ngIf="!date" >all dates</span> <span *ngIf="date" >{{date.day}}/{{date.month}}/{{date.year}}</span>
<hr />
      <div class="row">
        <div class="col-3 col-md-2  d-none d-md-block ">
          <p class="text-muted text-center font-weight-bold">
            Available?
          </p>
        </div>
        <div class="col-5 col-md-6 d-none d-md-block">
          <p class="text-muted text-center font-weight-bold">
           Volunteer Activities Information
          </p>
        </div>
        <div class="col-2 d-none d-md-block">
          <p class="text-muted text-center font-weight-bold">
            Location
          </p>
        </div>
        <div class="col-2 d-none d-md-block font-weight-bold">
          <p class="text-muted text-center">
            Charity
          </p>
        </div>
      </div>
      <hr class="mt-0">
      <div *ngFor="let activity of volunteerActivies">
        <div class="row">
          <div class="col-3 col-md-2">
            <a [routerLink]="['/volunteerdetail',activity._id]" class="btn">
              <div class="d-block d-md-none">
                <i class="fas fa-external-link-alt"></i>
              </div>
              <div class="d-none d-md-block">
                <div class='col-12 text-responsive'>
                  <i class="fas fa-external-link-alt"></i>
                       &nbsp;Timeslots
                </div>

              </div>
            </a>
          </div>
          <div class="col-5 col-md-6">
            <h5>
                <h4>
                     <b>
                          <a class="text-info" [routerLink]="['/volunteerdetail',activity._id]">{{ activity.name }}</a>
                     </b>
                </h4>
                <p class="m-0">
                  <small class="text-muted d-none d-sm-block text-responsive" ngbPopover="{{ activity.description }}" triggers="mouseenter:mouseleave">{{ activity.description }}</small>
                </p>

              </h5>
          </div>
          <div class="col-2">
            <h6 class="font-weight-bold text-danger">{{ activity.location }}</h6>
          </div>
          <div class="col-2 text-responsive">
                 <a class="font-weight-bold " routerLink="/charitydetail/{{ activity.charity._id }}">
                      {{ activity.charity.name }}</a>
          </div>
        </div>
        <hr>
      </div>
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalNumber" [pageSize]="10" [(page)]="page" (pageChange)="getVolunteers(page-1)"></ngb-pagination>
    </div>
  </div>
</div>
