<app-agm></app-agm>
<image-upload [max]="3" #iu
[extensions]="['jpeg','png']"
[maxFileSize]="1048576"
dropBoxMessage="Drop Charities promotion images here (1M size at most for each picture, and 3 pictures at most)"
(uploadFinished)="onUploadFinished($event)"
(uploadStateChanged)="onUploadStateChanged($event)"
(removed)="onRemoved($event)"
></image-upload>
<button (click)="onUpload()"> click</button>
<!-- <image-upload
  [max]="100"
  [url]="'example.com/images/upload'"
  [buttonCaption]="'Select Images!'"
  [dropBoxMessage]="'Drop your images here!'"
  [extensions]="['jpg','png','gif']"
  [class]="'customClass'"
  (removed)="onRemoved($event)"
  (uploadFinished)="onUploadFinished($event)"
  (uploadStateChanged)="onUploadStateChanged($event)">
</image-upload> -->
