<footer class="footer bg-color">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-7 footer-margin">
        <div class="row">
             <h5 class="offset-1">
                  <b>Linking Charity</b>
             </h5>
          <div class="col-11 offset-1">
            <a href="#"><img src="../assets/img/logo-charity.png" alt="logo" height="85" width="95"/></a>
          </div>
          <div class="col-12 justify-content-center">
            <!-- mat-icon-button need to be npm installed and cdk -->
            <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
            <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
            <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
            <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
            <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
            <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
          </div>
        </div>
      </div>
      <div class="col-11 col-sm-4 footer-margin offset-1">
        <h5><b>Our Address</b></h5>
        <address class="address">
		              South Kensington Campus<br>
		              London SW7 2AZ<br>
		              United Kingdom<br>
		              <i class="fa fa-phone fa-lg"></i> :+44 07596479912<br>
		              <i class="fa fa-fax fa-lg"></i> : +44 07596479912<br>
		              <i class="fa fa-envelope fa-lg"></i> : <a href="mailto:dongxiao.huang17@imperial.ac.uk">dongxiao.huang17@imperial.ac.uk</a>
	   </address>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <p>
          <b>Copyright © 2018 Linking Charity; all rights reserved</b>
        </p>
      </div>
    </div>
  </div>
</footer>
