<footer class="footer bg-color">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-7">
      <div class="row">
        <div class="col-12">
             
        </div>
        <div class="col-12 justify-content-center">
          <!-- mat-icon-button need to be npm installed and cdk -->
          <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
          <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
          <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
          <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
          <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
          <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <b>Copyright © 2018 Linking Charity; all rights reserved</b>
    </div>
  </div>
</footer>
