<div class="bg">
</div>
<div *ngIf="!charity">
     <app-loading></app-loading>
</div>
<div class="bgcolor" *ngIf="charity" >
  <div class="row ">
    <div class="col-11 col-md-5 info container">
      <h1><b class="col text-center">{{charity?.name}}</b></h1>
      <h2>{{charity?.info}}</h2>
      <ngb-rating [rate]="charity?.averageRating" placement="top" ngbTooltip="{{charity?.comments.length}} ratings" [readonly]="true"></ngb-rating>
      <span>Rating: {{charity?.averageRating |number : '1.2-2' }}</span>
      <br />
      <div class="btn-group btn-group-sm demoPadder" role="group" aria-label="Small button group">
        <button *ngIf="!favorite" (click)="toggleFavorite()" type="button" class="btn btn-ept btn-like"><i class="fas fa-heart">Add to favorite</i></button>
        <button *ngIf="favorite" (click)="toggleFavorite()" type="button" class="btn btn-ept btn-dislike"><i class="far fa-heart">Remove from Favorite</i></button>
      </div>
      <br />
      <div>

      </div>
      <p *ngIf="alertMsg" >
           <ngb-alert type='danger' (close)="alertMsg = undefined">{{ alertMsg }}</ngb-alert>
      </p>
      <div class="align-bottom">
        <div class="row text">
          <div class="col" *ngFor="let category of charity?.categories">
            <span class="badge badge-pill badge-warning"><a class="link" [routerLink]="['/category', category._id]">{{category.name}}</a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="container col-11 col-md-5">
         <ngb-carousel>
              <ng-template ngbSlide *ngFor="let image of charity.images">
                   <img class="img-fluid rounded text-center img col-12" src="{{baseUrl+(image)}}" alt="{{charity.name}}" />
              </ng-template>
         </ngb-carousel>
    </div>
  </div>
  <div class="row">
    <div class="container">

      <h2><b>Details</b></h2> {{charity?.details}}
      <hr />
      <div class="row">

        <div class="col-sm-9">
          <div class="row">
            <h2 class="col-10"><b>Voluntary works</b></h2>
            <div class="col-2" (click)="isCollapsedVnt = !isCollapsedVnt" [attr.aria-expanded]="!isCollapsedVnt" aria-controls="collapseVnt">
              <i *ngIf="isCollapsedVnt" class="fas fa-angle-double-down fa-2x"></i>
              <i *ngIf="!isCollapsedVnt" class="fas fa-angle-double-up fa-2x"></i>
            </div>
          </div>
          <div id="collapseVnt" [ngbCollapse]="isCollapsedVnt">
            Voluntary works details
          </div>
          <hr />
          <div class="row">
            <h2 class="col-10"><b>Financial data</b></h2>
            <div class="col-2 " (click)="isCollapsedFd= !isCollapsedFd" [attr.aria-expanded]="!isCollapsedFd" aria-controls="collapseFd">
              <i *ngIf="isCollapsedFd" class="fas fa-angle-double-down fa-2x"></i>
              <i *ngIf="!isCollapsedFd" class="fas fa-angle-double-up fa-2x"></i>
            </div>
          </div>
          <div id="collapseFd" [ngbCollapse]="isCollapsedFd">
            financial data details
          </div>
          <hr />

          <div class="row" id="comments">
            <h2 class="col-10"><b>Comments</b></h2>
            <div class="col-2 " (click)="isCollapsedCm=!isCollapsedCm" [attr.aria-expanded]="!isCollapsedCm" aria-controls="collapseCm">
              <i *ngIf="isCollapsedCm" class="fas fa-angle-double-down fa-2x"></i>
              <i *ngIf="!isCollapsedCm" class="fas fa-angle-double-up fa-2x"></i>
            </div>
          </div>
          <ngb-tabset id="collapseCm" [ngbCollapse]="isCollapsedCm">
            <ngb-tab title="Comments">
              <ng-template ngbTabContent>
                <div class="card" *ngFor="let comment of charity?.comments">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-2">
                        <img src="{{baseUrl+(comment?.author.profile)}}" class="img img-rounded img-fluid" />
                        <p class="text-secondary text-center"><small>{{comment?.createdAt |date}}</small></p>
                      </div>
                      <div class="col-10">
                        <p>
                          <a class="float-left"><strong>{{comment?.author.firstname}}, {{comment?.author.lastname}}</strong></a>
                        </p>
                        <div class="float-right">
                          <ngb-rating [rate]="comment.rating" [readonly]="true"></ngb-rating>
                          {{comment?.rating}}
                        </div>

                        <div class="clearfix"></div>
                        <p>{{comment?.comment}}</p>
                        <p class="align-bottom float-right">
                          <a class="float-right btn btn-primary text-white ml-2"> <i class="fa fa-reply"></i> Reply</a>
                          <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Add Comments">
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-12">
                    <div class="widget-area no-padding blank">
                      <div class="status-upload">
                        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                          <textarea placeholder="What are you doing right now?" formControlName="comment"></textarea>
                          <small>
                              <span [hidden]="!(formErrors.comment)">{{formErrors.comment}}</span>
                         </small>
                          <ngb-rating [(rate)]="commentForm.value.rating" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly"></ngb-rating>Selected: <b>{{commentForm.value.rating}}</b>
                          <small>
                              <span [hidden]="!(formErrors.rating)">{{formErrors.rating}}</span>
                         </small>
                          <button type="submit" [disabled]="!commentForm.valid" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
                        </form>
                        {{commentForm.value|json}}
                      </div>
                      <!-- Status Upload  -->
                    </div>
                    <!-- Widget Area -->
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
          <br />
        </div>
        <div class="col-sm-3">
          <div class="btn-group">
            <button class="btn btn-warning">Donate</button>
            <button class="btn btn-success">Volunteer</button>
          </div>
          <hr />
          <h2><b>Contact</b></h2>
          <div class="col-xs-12 col-sm-12">
            <ul class="list-unstyled">
              <li>
                <span class="fa fa-map-marker-alt fa-lg"></span><a href="http://maps.google.com/?q={{charity?.geoaddress}}">&nbsp;{{charity?.geoaddress}}</a>
              </li>
              <li>
                <span class="fa fa-phone text-muted c-info"></span> &nbsp;{{charity?.tel}}
              </li>
              <li>
                <span class="fa fa-envelope text-muted c-info"></span> &nbsp;{{charity?.email}}
              </li>
              <li *ngIf="charity?.website">
                <i class="fas fa-link"></i>{{charity?.website}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
