<div class="bg">
</div>

<ngb-tabset justify="center">
  <ngb-tab>
    <ng-template ngbTabTitle><i class="fas fa-user-alt"></i> <b> User profile</b></ng-template>
    <ng-template ngbTabContent>
         <app-loading *ngIf="!profile" ></app-loading>
         <div class="container" style="padding-top: 60px;" *ngIf="profile" >
           <div class="row">
             <div class="col-12 personal-info" >
               <div class="alert alert-info alert-dismissable"  *ngIf="userMsg">
                 <a class="panel-close close" data-dismiss="alert" (click)="userMsg=undefined">×</a>
                {{userMsg}}
               </div>
               <h3 class="text-center">Personal info</h3>
               <form class="form-horizontal" role="form" novalidate [formGroup]="userForm">

                 <div class="form-group">
                   <label class="col-lg-3 control-label">Email/Username:</label>
                   <div class="col-lg-8">
                     <b>{{profile?.username}}</b>
                   </div>
                 </div>
                 <div class="form-group">
                   <label class="col-lg-3 control-label" for="firstname">First name:</label>
                   <div class="col-lg-8">
                     <input id="firstname" class="form-control" formControlName="firstname" value={{profile?.firstname}} type="text" [(ngModel)]="profile.firstname" >
                     <small>
                          <span [hidden]="!(userFormErrors.firstname)">{{userFormErrors.firstname}}</span>
                     </small>
                   </div>
                 </div>
                 <div class="form-group">
                   <label class="col-lg-3 control-label" for="lastname">Last name:</label>
                   <div class="col-lg-8">
                     <input id="lastname" class="form-control" formControlName="lastname" value={{profile?.lastname}} type="text" [(ngModel)]="profile.lastname" >
                     <small>
                          <span [hidden]="!(userFormErrors.lastname)">{{userFormErrors.lastname}}</span>
                     </small>
                   </div>
                 </div>
                 <!-- <div class="form-group">
                   <label for="country" class="col-lg-3" for="country">Country: &nbsp;</label>
                   <div class="col-lg-8">
                     <select id="country" formControlName="country" class="form-control" [ngModel]="user?.country">
                                               <option  *ngFor="let c of countries; let i = index;"  [value]="c.name">{{c.name}}</option>
                                          </select>
                     <small>
                                               <span [hidden]="!(userFormErrors.country)">{{userFormErrors.country}}</span>
                                          </small>
                   </div>
              </div> -->
                   <div class="form-group">
                     <label class="col-md-3 control-label"></label>
                     <div class="col-md-8">
                       <button name="submit" type="submit" class="btn btn-primary" (click)="changeProfile()">Update My Profile</button>
                     </div>
                   </div>
                   <hr />
                 {{userForm.value|json}}
               </form>
               <div class="alert alert-info alert-dismissable"  *ngIf="pswMsg">
                 <a class="panel-close close" data-dismiss="alert">×</a>
                {{pswMsg}}
               </div>
               <form novalidate [formGroup]="passwordForm" >
                 <div class="form-group">
                   <label class="col-md-3 control-label">Password:</label>
                   <div class="col-md-8">
                     <input class="form-control" formControlName="password" type="password">
                     <small>
                          <span [hidden]="!(passwardFormErrors.password)">{{passwardFormErrors.password}}</span>
                     </small>
                   </div>
                 </div>
                 <div class="form-group">
                   <label class="col-md-3 control-label">Confirm password:</label>
                   <div class="col-md-8">
                     <input class="form-control" formControlName="confirmPSW" type="password">
                     <small>
                          <span [hidden]="!(passwardFormErrors.confirmPSW)">{{passwardFormErrors.confirmPSW}}</span>
                     </small>
                   </div>
                 </div>
                 <div class="form-group">
                   <label class="col-md-3 control-label"></label>
                   <div class="col-md-8">
                     <button name="submit" [disabled]="passwordForm.invalid" type="submit" class="btn btn-primary" (click)="changePSW()">Update Password</button>
                     <button class="btn btn-warning" (click)="onCancel()">Cancel</button>
                   </div>
                 </div>
               </form>

             </div>
           </div>
         </div>
{{profile|json}}


    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><i class="fas fa-users-cog"></i> <b> My charity</b></ng-template>
    <ng-template ngbTabContent>
         <app-loading *ngIf="!profile.charity" ></app-loading>
         {{profile.charity |json}}
    </ng-template>
  </ngb-tab>

</ngb-tabset>
<!--
<section id="profile">
  <div class="container p-5">
    <h4 class="display-4">My Profile</h4>
    <hr>
    <div *ngIf="!profile?.username" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="profile?.username" class="row mt-5">
      <div class="col-md-3">
        <img src="{{baseUrl+(profile?.charity.image)}}" alt="userimage" class="rounded-circle image img-fluid">
      </div>
      <div class="col-md-8 ml-3">
        <p id="name" class="lead">{{ profile.name }}</p>
        <a routerLink="" class="btn btn-warning">My charity</a>
        <br>
        <br>
        <a routerLink="" class="btn btn-warning">Change Account Settings</a>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</section> -->
