<mat-horizontal-stepper #stepper linear>
  <mat-step [stepControl]="charityDetailForm">
    <div class="row justify-content-center">
      <div class="col-8 col-md-6 col-lg-5">
        <form [formGroup]="charityDetailForm" novalidate>
          <ng-template matStepLabel><i class="far fa-info"></i><b>&nbsp; Charity details</b></ng-template>
          <div class="form-group">
            <label for="ccn">Charity Commission number</label>
            <div class="row">
                 <input type="text" class="form-control col-10" id="ccn" formControlName="ccn" placeholder="Enter charity commission number">
                 <button class="btn btn-primary col-2" (click)="getCharityByCCN()" [disabled]="!charityDetailForm.value.ccn"> Search</button>
            </div>
          </div>
          <div class="alert alert-danger alert-dismissable" *ngIf="hasFound != undefined && !hasFound">
               <a class="panel-close close" data-dismiss="alert" (click)="hasFound=undefined">×</a> Nothing found. Please try to input by yourself
          </div>
          <div class="form-group">
            <label for="rBody">Registered body</label>
            <input type="text" class="form-control" id="rBody" formControlName="rbody" placeholder="Enter registered body">
          </div>
          <div class="form-group">
            <label for="rNumber">Registered number</label>
            <input type="text" class="form-control" id="rNumber" formControlName="rno" pattern="[0-9]*" placeholder="Enter registered number" [(ngModel)]="regno" [readonly]="regnoReadOnly">
            <small>
                 <span [hidden]="!charityDetailErrors.rno">{{charityDetailErrors.rno}}</span>
            </small>
          </div>
          <div class="form-group">
            <label for="rName">Registered name(*)</label>
            <input type="text" class="form-control" id="rName" formControlName="name" [(ngModel)]="name"  placeholder="Enter registered name" required [readonly]="nameReadOnly">
            <small>
        <span [hidden]="!(charityDetailErrors.name)" >{{charityDetailErrors.name}}</span>
   </small>
          </div>
          <div class="form-group">
            <label for="tel">Registered telphone(*)</label>
            <input type="tel" class="form-control" id="tel" formControlName="tel" [(ngModel)]="tel"  placeholder="Enter telphone" required [readonly]="telReadOnly">
            <small>
        <span [hidden]="!charityDetailErrors.tel">{{charityDetailErrors.tel}}</span>
   </small>
          </div>
          <div class="form-group">
            <label for="website">Website</label>
            <input type="text" class="form-control" id="website" formControlName="web" [(ngModel)]="web"  placeholder="Enter website" [readonly]="webReadOnly">
            <small>
        <span [hidden]="!charityDetailErrors.web">{{charityDetailErrors.web}}</span>
   </small>
          </div>
          <div class="form-group">
            <label for="charity_email">Contact Email(*)</label>
            <input type="text" class="form-control" id="charity_email" formControlName="email" [(ngModel)]="email"  placeholder="Enter charity email" required [readonly]="emailReadOnly">
            <small>
        <span [hidden]="!charityDetailErrors.email">{{charityDetailErrors.email}}</span>
   </small>
          </div>
          <div class="form-group">
            <label for="chooseTypes">Types(*)</label>
            <ng-multiselect-dropdown #chooseTypes [placeholder]="'Please select type(s) of your charity'" [data]="categories" [settings]="dropdownSettings" formControlName="categories" required>
            </ng-multiselect-dropdown>
            <small>
            <span [hidden]="!charityDetailErrors.categories">{{charityDetailErrors.categories}}</span>
            </small>
          </div>

          <div class="form-group">
            <label for="info">brief description(*)</label>
            <textarea id="info" maxlength="200" class="form-control" formControlName="info" placeholder="Charity Description 200 words at most" rows=4 required></textarea>
            <small>
              <span [hidden]="!charityDetailErrors.info">{{charityDetailErrors.info}}</span>
        </small>
            <hr />
            <label for="detail">details description(*)</label>
            <textarea id="detail" maxlength="500" class="form-control" formControlName="details" placeholder="Charity Details 500 words at most" rows=6 required></textarea>
            <small>
            <span [hidden]="!charityDetailErrors.details">{{charityDetailErrors.details}}</span>
        </small>
          </div>
          <div class="form-group">
            <!-- Text input-->
            <form [formGroup]="addressForm" novalidate>
              <div class="form-group">
                <label class="control-label" for="textinput">Line 1(*)</label>
                <input type="text" placeholder="Address Line 1" class="form-control" formControlName="line1" [(ngModel)]="line1" required >
                <span [hidden]="!addressErrors.line1">{{addressErrors.line1}}</span>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label class="control-label" for="textinput">Line 2</label>
                <input type="text" placeholder="Address Line 2" class="form-control" formControlName="line2" [(ngModel)]="line2"  >
              </div>
            </form>

            <!-- Text input-->
            <div class="form-group">
              <label class="control-label" for="city">City(*)</label>
              <input type="text" placeholder="City" id="city" class="form-control" formControlName="city" required>
              <span [hidden]="!charityDetailErrors.city">{{charityDetailErrors.city}}</span>
            </div>
            <!-- Text input-->
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="control-label" for="state">State</label>
                  <input type="text" placeholder="State" id="state" class="form-control" formControlName="state">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="control-label" for="postcode">Postcode(*)</label>
                  <input type="text" placeholder="Post Code" id="postcode" class="form-control" [(ngModel)]="postcode" formControlName="postcode" required>
                  <span [hidden]="!charityDetailErrors.postcode">{{charityDetailErrors.postcode}}</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="country">Country(*)</label>
              <select id="country" formControlName="country" class="form-control" required>
                   <option disabled selected value> -- select a country -- </option>
                   <option  *ngFor="let c of countries; let i = index;"  [value]="c.name">{{c.name}}</option>
             </select>
              <small>
                   <span [hidden]="!charityDetailErrors.country">{{charityDetailErrors.country}}</span>
              </small>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="form-group text-center">
         {{charityDetailForm.value|json}}
         {{charityDetailForm.valid|json}}
      <button mat-button [style.background-color]="charityDetailForm.invalid ? 'grey' : 'green'" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="basicInfoForm">
    <div class="row justify-content-center">
      <div class="col-8 col-md-6 col-lg-5">
        <form novalidate [formGroup]="basicInfoForm">
          <ng-template matStepLabel><i class="fas fa-pen-square"></i><b>&nbsp; Personal details</b></ng-template>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter username" required>
            <small>
                   <span [hidden]="!(basicInfoErrors.username)">{{basicInfoErrors.username}}</span>
              </small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter password" required>
            <small>
                            <span [hidden]="!(basicInfoErrors.password)">{{basicInfoErrors.password}}</span>
                       </small>
          </div>
          <div class="form-group">
            <label for="confirmPSW">Retype Password</label>
            <input type="password" class="form-control" id="confirmPSW" formControlName="confirmPSW" placeholder="Retype password" required>
            <small>
                            <span [hidden]="!(basicInfoErrors.confirmPSW)">{{basicInfoErrors.confirmPSW}}</span>
                       </small>
          </div>
          <div class="form-group">
            <label for="firstname">Firstname</label>
            <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="Enter First Name" required>
            <small>
                  <span [hidden]="!(basicInfoErrors.firstname)">{{basicInfoErrors.firstname}}</span>
             </small>
          </div>
          <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Enter Last Name" required>
            <small>
                  <span [hidden]="!(basicInfoErrors.lastname)">{{basicInfoErrors.lastname}}</span>
             </small>
          </div>
          <div class="form-group text-center">
            <button mat-button matStepperPrevious class="btn btn-warning">Back</button>
            <button mat-button [style.background-color]="basicInfoForm.invalid ? 'grey' : 'green'" matStepperNext (click)="check()">Next</button>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="paymentDetailsForm">
    <div class="row justify-content-center">
      <div class="col-8 col-md-6 col-lg-5">
           <div>
                <p class="text-danger font-weight-bold" *ngIf="!usernameValid" >
                     Your username is used. Please choose another one.
                </p>
           </div>
        <form [formGroup]="paymentDetailsForm" novalidate>
          <ng-template matStepLabel><i class="far fa-money-check-alt"></i><b>&nbsp; Donation details</b></ng-template>
          <div class="form-group">
            <i class="fas fa-credit-card"></i>
            <label for="card_name">Name</label>
            <input type="text" id="card_name" name="card_name" formControlName="name" placeholder="Card name" class="form-control" required>
            <small>
                 <span [hidden]="!(paymentDetailsErros.name)">{{paymentDetailsErros.name}}</span>
            </small>
          </div>
          <div class="form-group">
            <label for="card_number">card</label>
            <input type="text" id="card_number" name="card_number" formControlName="number" pattern="[0-9]*" placeholder="Card number" class="form-control" required>
            <small>
                 <span [hidden]="!(paymentDetailsErros.number)">{{paymentDetailsErros.number}}</span>
            </small>
          </div>
          <div class="form-group">
            <label for="sort_code">Sort code</label>
            <input type="text" id="sort_code" name="sort_code" formControlName="sortcode" placeholder="sort_code" pattern="[0-9]*" class="form-control" required>
            <small>
                 <span [hidden]="!(paymentDetailsErros.sortcode)">{{paymentDetailsErros.sortcode}}</span>
            </small>
          </div>
          <div class="form-group">
            <label for="account_no">Account No.</label>
            <input type="text" id="account_no" name="account_no" formControlName="account_no" placeholder="Account number" pattern="[0-9]*" class="form-control" required>
            <small>
                 <span [hidden]="!(paymentDetailsErros.account_no)">{{paymentDetailsErros.account_no}}</span>
            </small>
          </div>
          <hr />
          <div class="form-group">
            <i class="fab fa-paypal"></i>
            <label for="paypal_number">Paypal</label>
            <input type="text" id="paypal_number" name="paypal_number" formControlName="paypal" placeholder="Paypal number" class="form-control">
          </div>
        </form>
      </div>
    </div>
    <div class="text-center form-group">
      <button class="btn btn-warning" matStepperPrevious class="btn btn-warning">Back</button>
      <button [disabled]="paymentDetailsForm.invalid || !usernameValid" class="btn {{paymentDetailsForm.invalid || !usernameValid ? 'btn-secondary' : 'btn-success'}}"matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>

    <ng-template matStepLabel><i class="fas fa-check-circle"></i><b>&nbsp; Image Upload</b></ng-template>
    <div>
         <!-- [uploadedFiles]="imgfiles[0].src" -->
      <image-upload #iu
      [max]="4"
      [extensions]="['jpeg','png','jpg']"
      [maxFileSize]="1048576"
      dropBoxMessage="Drop Charities promotion images here (1M size at most for each picture, and 3 pictures at most)"
      (uploadFinished)="onUploadFinished($event)"
      (uploadStateChanged)="onUploadStateChanged($event)"
      (removed)="onRemoved($event)"></image-upload>
      <div>
        <ngb-progressbar *ngIf="progress>0 && progress<100" type="warning" [striped]="true" [animated]="true" [value]="progress">{{progress}}</ngb-progressbar>
        <p>
          <ngb-progressbar *ngIf="progress==100" type="danger" [value]="100" [striped]="true">Completed!</ngb-progressbar>
        </p>
      </div>
      <!-- <button class="btn btn-success" (click)="onUpload()"> click</button> -->
    </div>
    <div class="text-center form-group">
      <button class="btn btn-warning" matStepperPrevious class="btn btn-warning">Back</button>
      <button [disabled]="!imgfiles.length" class="btn {{!imgfiles.length || !usernameValid ? 'btn-secondary' : 'btn-success'}}" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><i class="far fa-eye"></i><b>&nbsp; Preview</b></ng-template>
    <!--  -->
      <div class="row">
        <div class="col-11 col-md-5 info container">
          <h1><b class="col text-center">{{charityDetailForm.value.name}}</b></h1>
          <!-- <h2>{{charity?.info}}</h2> -->
          <div >
            Overall Rating:
            <ngb-rating rate="5" placement="top" ngbTooltip="Number of Ratings" max=5 [readonly]="true"></ngb-rating>
            <span>Rating: 5</span>
          </div>

          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
            </span>
          </ng-template>
          Your Rating:
            <ngb-rating rate="5" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
            <!-- <button type="submit" class="btn btn-info">submit</button> Selected: <b>{{ratingForm.value.rating}}</b> -->

          <!-- <ngb-rating *ngIf="hasRated" [(rate)]="rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating> -->
          <p>
          </p>
          <div class="btn-group btn-group-sm demoPadder" role="group" aria-label="Small button group">
            <button type="button" class="btn btn-ept btn-like"><i class="fas fa-heart">Add to favorite</i></button>
          </div>
          <br />
          <div>

          </div>
          <div class="align-bottom" *ngIf="charityDetailForm.value.categories" >
            <div class="row text">
              <div class="col" *ngFor="let cate of hack(charityDetailForm.value.categories)">
                <span class="badge badge-pill badge-warning"><a class="link" >{{cate.name}}</a></span>
              </div>
            </div>
          </div>
        </div>
        <div class="container col-11 col-md-5">
          <ngb-carousel *ngIf="imgfiles.length" >
            <ng-template ngbSlide *ngFor="let image of imgfiles">
              <img class="img-fluid rounded text-center img img-size col-12" src="{{image.src}}" />
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
      <div class="row">
        <div class="container" *ngIf="charityDetailForm" >

          <hr />
          <div class="row">

            <div class="col-sm-9">
              <div class="row">
                <h2 class="col-10"><b>Voluntary works</b></h2>
              </div>
              <div id="collapseVnt" >
              <div id="collapseVnt" [ngbCollapse]="isCollapsedVnt">
                <div class="alert alert-danger alert-dismissable" >
                  charity volunteer Activities is Empty
                </div>

              </div>
              <hr />
              <!-- <div class="row"> -->
                <h2 class="col-10"><b>Financial data</b></h2>
                <div class="alert alert-danger alert-dismissable" >
                  Financial data is Empty
                </div>
              <!-- </div> -->
              <div id="collapseFd" >
              <!-- <div id="collapseFd" [ngbCollapse]="isCollapsedFd"> -->
                financial data details
              </div>
              <hr />

              <div class="row" id="comments">
                <h2 class="col-10"><b>Comments</b></h2>

              </div>
              <ngb-tabset id="collapseCm" #commentTabs >
                <ngb-tab id="tab-comment" title="Comments">
                  <ng-template ngbTabContent>
                       <div class="alert alert-danger alert-dismissable" >
                        Comments are Empty
                      </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Add Comments">
                  <ng-template ngbTabContent>

                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
              <br />
            </div>

          </div>
          <div class="col-sm-3">
          <div class="btn-group">
              <button class="btn btn-warning" >Donate</button>
          </div>
          <hr />
          <div class="col-xs-12 col-sm-12">
              <div class="btn-group">
               <a class="btn" shareButton="twitter" description="I have found an amazing charity, let's have a look!" [style.backgroundColor]="share.prop.twitter.color">
                    <i class="fab fa-twitter"></i>
              </a>
               <a class="btn" shareButton="facebook" description="I have found an amazing charity, let's have a look!" [style.backgroundColor]="share.prop.facebook.color">
                   <i class="fab fa-facebook-f"></i>
              </a>
               <a class="btn" shareButton="pinterest" description="I have found an amazing charity, let's have a look!" [style.backgroundColor]="share.prop.pinterest.color">
                    <i class="fab fa-pinterest-p"></i>
              </a>
               <a class="btn" shareButton="reddit" description="I have found an amazing charity, let's have a look!" [style.backgroundColor]="share.prop.reddit.color">
                    <i class="fab fa-reddit-alien"></i>
              </a>
               <a class="btn" shareButton="whatsapp" description="I have found an amazing charity, let's have a look!"  [style.backgroundColor]="share.prop.whatsapp.color">
                    <i class="fab fa-whatsapp"></i>
              </a>
              </div>

          </div>
          <hr />
          <h2><b>Contact</b></h2>
          <div class="col-xs-12 col-sm-12">
              <ul class="list-unstyled">
               <li>
                  <span class="fa fa-map-marker-alt fa-lg"></span><a >&nbsp;{{charityDetailForm?.value.address}}</a>
               </li>
               <li>
                  <span class="fa fa-phone text-muted c-info"></span> &nbsp;{{charityDetailForm?.value.tel}}
               </li>
               <li>
                  <span class="fa fa-envelope text-muted c-info"></span> &nbsp;{{charityDetailForm?.value.email}}
               </li>
               <li *ngIf="charity?.website">
                  <i class="fas fa-link"></i>{{charityDetailForm?.value.website}}
               </li>
              </ul>
          </div>
         </div>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="alert {{msg.success? 'alert-info': 'alert-danger'}} alert-dismissable" *ngIf="msg.message">
      <a class="panel-close close" routerLink="/" data-dismiss="alert">×</a> {{msg.message}}
    </div>

    <div class="text-center form-group">
      <button mat-button matStepperPrevious class="btn-success">Back</button>
      <button mat-button (click)="onSubmit()" class="btn-info" *ngIf="!isSubmitted">Submit</button>
      <button mat-button (click)="stepper.reset()" class="btn-warning">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
