<div class="row">
  <div class="col-sm-3 thumbnail" *ngFor="let charity of charities" [routerLink]="['/charitydetail', charity.id]">
    <div class="campaign-gallery-head" *ngIf="charity">
      <img class="campaign-gallery-thumbnail img-fluid" src="{{charity.image}}" alt="{{charity.name}}">
    </div>
    <div [hidden]="charity">
         <h4>Loading . . . Please Wait <i class="fa fa-refresh fa-spin" style="font-size:24px"></i></h4>
    </div>
    <div>
      <p>
        <b>
            Name : {{charity.name}}
       </b>
      </p>
    </div>
    <div class="button-row row">
      <button mat-raised-button class="bg-warning col-3">Find More</button>
      <button mat-raised-button class="bg-primary col-3">Donate</button>
      <button mat-raised-button class="bg-success col-3">Volunteering</button>
    </div>

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="Description">
        <ng-template ngbPanelContent>
          {{charity.info}}
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
