
    <div class="row">
        <div class="col-6 col-sm-4 col-md-3" *ngFor="let charity of charities">
            <div class="panel card box-shadow" >
                <div class="wrapper" [ngStyle]="{'background': getUrl(charity.image)}">
                  <div class="header">
                    <div class="date">
                         {{charity.updatedAt |date}}
                    </div>
                    <ul class="menu-content">
                      <li>
                        <a href="#" class="far fa-donate"></a>
                      </li>
                      <li><a href="#" class="far fa-heart"><span>NA</span></a></li>
                      <li><a href="#" class="far fa-comment"><span>{{charity.comments.length}}</span></a></li>
                    </ul>
                  </div>
                  <div class="data">
                    <div class="content">
                      <span class="location">{{charity.location}}</span>
                      <h1 class="title"><a [routerLink]="['/charitydetail', charity._id]">{{charity.name}}</a></h1>
                      <p class="text">{{charity.info}}</p>
                      <a [routerLink]="['/charitydetail', charity._id]" class="button">Read more</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
