<br />
<br />
<br />
<br />
<agm-map  #gm [latitude]="lat" [longitude]="lng"
     [zoom]="zoom">
  <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng"
  (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow;"
  >
    <agm-info-window #infoWindow [maxWidth]=200>
      <strong>{{marker.name}}</strong>
      <div class="row">
        <div class="col-12">
          <img class="smallsize" src="{{marker.img}}" />
        </div>
        <div class="col-12">
          {{marker.description}}
          <br />
          id: {{marker.id}}
        </div>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>
<br />
<br />
