<br />
<br />
<br />
<br />
<agm-map  #gm [latitude]="lat" [longitude]="lng"
     [zoom]="zoom">
  <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng"
  (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow;"
  >
    <agm-info-window #infoWindow [maxWidth]=200>
         <div class="text-center">
              <h5 class="btn" [routerLink]="['/charitydetail',marker.id]">{{marker.name}}</h5>
         </div>
      <hr />
      <div class="row">
        <div class="col-12">
          <img  [routerLink]="['/charitydetail',marker.id]" class="smallsize" src="{{baseUrl}}{{marker.img}}" />
        </div>
        <div class="col-12">
          {{marker.description}}
          <br />
        </div>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>
<br />
<br />

{{markers | json}}
