<br />
<br />
<br />
<input class="form-control" type="text" name="search" [(ngModel)]="myfilter">
<div class="container">
     <div class="row">
          <table class="table">
               <thead>
                    <tr>
                         <th>
                              #
                         </th>
                         <th (click)="sort('name')">
                              Name
                              <span class="fa fa-sort" *ngIf="key == 'name'"></span>
                         </th>
                         <th (click)="sort('label')">
                              label
                              <span class="fa fa-sort" *ngIf="key =='label'" ></span>
                         </th>
                         <th (click)="sort('location')">
                              location
                              <span class="fa fa-sort" *ngIf="key =='location'"></span>
                         </th>
                         <th (click)="sort('rating')">
                              rating
                              <span class="fa fa-sort" *ngIf="key =='rating'"></span>
                         </th>
                    </tr>
               </thead>
               <tbody>
                    <tr *ngFor="let charity of filteredCharities | orderBy: key : reverse| filter:myfilter | paginate: { itemsPerPage: 5, currentPage: p}; let i = index">
                         <td>
                              {{i}}
                         </td>
                         <td>
                              {{charity.name}}
                         </td>
                         <td>
                              {{charity.label | json}}
                         </td>
                         <td>
                              {{charity.location}}
                         </td>
                         <td>
                              {{charity.rating}}
                         </td>
                    </tr>
               </tbody>
               <!-- TODO: display total page and current pge goTo first page last page-->
               <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </table>
     </div>
</div>
<button (click)="allUK()">
     UK
</button>
<button (click)="getAll()">
     clear
</button>
<p>
     rating
</p>
<button (click)="rating(1)">1</button>
<button (click)="rating(2)">2</button>
<button (click)="rating(3)">3</button>
<button (click)="rating(4)">4</button>
<button (click)="rating(5)">5</button>

<p>
     categories
</p>
<button (click) ="animals()">Animals</button>
<button>Arts, Culture, Humanities</button>
<button>Education</button>
<button>Community Development</button>
<button>Environment</button>
<button>Health</button>
<button>International</button>
<button>Human and Civil Rights (47)</button>
<button>Religion</button>
<button>Research and Public Policy</button>



<p>
     {{ filteredCharities | json}}
</p>
