<nav class="navbar bg-color navbar-expand-sm fixed-top">
     <a class="navbar-brand mr-auto" href="#"><img src="../assets/img/logo-charity.png" height="34" width="36" /></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" (click)="isCollapsed = !isCollapsed" >
                    <span class="navbar-toggler-icon"></span>
               </button>
               <div class="container">
               <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
                    <ul class="navbar-nav mr-auto">
                         <!-- mr: right margin -->
                         <li class="nav-item">
                              <a class="nav-link" routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span>  Home  </a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" routerLink="/home" routerLinkActive="active"><span class="fa fa-cc-discover fa-lg"></span>  Discover  </a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" routerLink="/home" routerLinkActive="active"><span class="fa fa-heart fa-lg"></span>  Volunteer  </a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" routerLink="/home" routerLinkActive="active"><span class="fa fa-info fa-lg"></span>  About Us  </a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" routerLink="/home" routerLinkActive="active"><span class="fa fa-address-book fa-lg"></span>  Contact  </a>
                         </li>
                    </ul>
               </div>
          </div>
</nav>
<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center"
    fxLayoutAlign.gt-sm="center center"
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Ristorante Con Fusion</h1>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="../assets/img/logo-charity.png" alt="Logo">
  </div>
  <div fxFlex></div>
</div>
