<nav class="navbar bg-color navbar-expand-md fixed-top">
    <div>
      <a class="navbar-brand mr-auto" [routerLink]="['/home']"><img src="../assets/img/logo-charity.png" alt="logo" height="34" width="36" /></a>
    </div>
    <div class="pull-right">
         <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
              <span class="navbar-toggler-icon"></span></button>
         </div>
    <div class="row col-12 collapse navbar-collapse" [ngbCollapse]="isCollapsed">
         <div class="container col-10 col-lg-11">
    <div class="row offset-1" >
      <div class="col-9">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/discover" routerLinkActive="active"><span class="fa fa-compass fa-lg"></span>  Discover  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-none d-block d-lg-block" routerLink="/volunteer" routerLinkActive="active"><span class="fa fa-heart fa-lg"></span>  Volunteer  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" routerLinkActive="active"><span class="fa fa-info fa-lg"></span>
               About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active"><span class="fa fa-address-book fa-lg"></span>  Contact  </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <app-autocomplete-search></app-autocomplete-search>
      </div>
    </div>
  </div>
  <div #userInfo class="col-2 col-lg-1 text-right">
         <app-login *ngIf="!username"></app-login>
         <a *ngIf="username" class="btn" [routerLink]="['favorites']">{{username}}</a>
         <!-- <a *ngIf="username" class="btn" (click)="logOut()"><i class="fas fa-sign-out-alt"></i><b>Logout</b></a> -->
    </div>
    </div>
</nav>
