<ngb-carousel>
  <ng-template ngbSlide *ngFor="let pic of coverPics" >
    <img src="{{baseUrl}}{{pic.url}}" class="responsive" alt={{pic.label}}>
    <div class="carousel-caption">
      <h3>{{pic.label}}</h3>
      <p>{{pic.description}}</p>
    </div>
    <form  id="searchForm">
         <div class="form-group ">
        <div class="input-group input-group-lg center-block">
          <input type="text" class="form-control" placeholder="Search">
          <button type="submit">
            <span class="input-group-addon"><i class="fa fa-search fa-lg"></i></span>
        </button>
        </div>
     </div>
    </form>
  </ng-template>
</ngb-carousel>
