<ngb-carousel>
  <ng-template ngbSlide>
            <img src="../assets/img/carousel0.jpg" class="responsive" alt="Random first slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Description 1</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/carousel1.jpg" class="responsive" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Description 2</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/carousel2.jpg" class="responsive" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Description 3</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/carousel4.jpg" class="responsive" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Forth slide label</h3>
      <p>Description 4</p>
    </div>
  </ng-template>
</ngb-carousel>
